<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.noxgroup.qahelper">

    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.GRANT_RUNTIME_PERMISSIONS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--解决Android 11 NameNotFoundException 问题 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QAHelper"
        android:forceDarkAllowed="false"
        tools:targetApi="q">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.SettingPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".language.LanguageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".appmanage.ManageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ftp.FTPActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ftp.DownloadHistoryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".language.LanguageHelpActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>